@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #11071f;
  --foreground: #ffff;
  --header-bg-color: #1A0B2E;
  --primary-color: #7127BA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
