
.custom-header-item::after{
  background: #7127BA;
  border-radius: 16px;
  bottom: 1px;
  content: "";
  display: block;
  height: 5px;
  left: 0;
  position: relative;
  transition: all .3s ease-out 0s;
  width: 0;
  z-index: 21;
}
.custom-header-item:hover::after{
  width: 100%;
}